@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body{
    background-color:  #EDEDEE;
    height: 100%;
}
#course{
    padding: 0vw 8vw 1vw 8vw;
    text-align: center;

}

#course .course-box {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-gap: 1rem;
    margin-top: 50px;
    
}
#course .courses {
    text-align: center;
    background: #f9f9ff;
    height: 100%;
}
#course .courses .details {
    text-align: center;
    background: #f9f9ff;
    height: 35%;
}

#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}
#course .courses h1{
    text-align: center;
}
#details  .h3{
    border: 1px solid  #E6621F;
    width: 25%;
    
}


#course .courses .course-box h3{
  text-align: center;
}
#course  :hover{
    border: 1px solid  #E6621F;
}
#course  :hover{
    background-color:#E6621F ;
    color:#f9f9ff ;
}